<div class="form-control">
  <%= simple_form_for(@restaurant) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :category %>
    <%= f.select :category, ['chinese', 'italian', 'japanese', 'french', 'belgian'], {}, { class: 'form-select form-select-lg mb-3' } %>
    <%= f.submit %>
  <% end %>
</div>
